<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MedicinedetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Medicinedetail">
        <id column="batchNumber" property="batchNumber" />
        <result column="productionTime" property="productionTime" />
        <result column="expirationDate" property="expirationDate" />
        <result column="price" property="price" />
        <result column="number" property="number" />
    </resultMap>

</mapper>
