<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MedicineinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Medicineinfo">
        <id column="medicineId" property="medicineId" />
        <result column="treatType" property="treatType" />
        <result column="medicineName" property="medicineName" />
        <result column="batchNumber" property="batchNumber" />
        <result column="bases" property="bases" />
        <result column="storage" property="storage" />
        <result column="manufacturers" property="manufacturers" />
        <result column="efficacy" property="efficacy" />
        <result column="attentions" property="attentions" />
        <result column="medicineType" property="medicineType" />
        <result column="usage" property="usage" />
        <result column="useLevel" property="useLevel" />
        <result column="badReaction" property="badReaction" />
        <result column="dosageForm" property="dosageForm" />
        <result column="specification" property="specification" />
        <result column="packing" property="packing" />
        <result column="isRX" property="isRX" />
        <result column="area" property="area" />
        <result column="smell" property="smell" />
        <result column="unit" property="unit" />
        <result column="total" property="total" />
    </resultMap>

</mapper>
